
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, #00acff, #8bffff, #c4ffff);
    margin: 0;
    min-height: 100vh;
}

/* Estilo neon para icones*/
.logo{
    position: relative;
    color: #333;
    font-size: 5rem;
    text-shadow: 0 0 50px #00acff,
                 0 0 100px #00acff,
                 0 0 150px #00acff,
                 0 0 200px #00acff,
                 0 0 250px #00acff;
    animation: neonAnimation 7s linear infinite;
}

@keyframes neonAnimation {
    0% {
        color: #00acff; /* Inicia com azul */
    }
    50% {
        color: #ff00ff; /* Muda para roxo */
    }
    100% {
        color: #00ff00; /* Muda para verde */
    }
    150% {
        color: #ff0000; /* Muda para vermelho */
    }
    200% {
        color: #00acff; /* Retorna para azul */
    }
}

/* Animated title */

.animated-title{
    position: relative;
    font-size: 4vw;
    color: #333;
}

.animated-title::before{
    content: attr(data-text);
    position: absolute;
    color: #fff;
    width: 0;
    width: 100%; 
    white-space: nowrap;
    overflow: hidden;
    border-right: 2.5px solid #fff;
    animation: animatedTitle 10s linear infinite;
    filter: drop-shadow(0 0 10px #fff) drop-shadow(0 0 15px #fff);
}

@keyframes animatedTitle{
    0%, 10%, 100%{
        width: 0;
    }
    70%, 90%{
        width: 64%;
    }
}



/* Estilo para card animado */
.container-pai{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 100px 50px;
}

.container-pai .card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 320px;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0,0,0,0.15);
    background: #fff;
    transition: 0.5s ease;
}

.container-pai .card:hover{
    height: 400px;
}

.container-pai .card .img-box{
    position: absolute;
    top: 20px;
    width: 300px;
    height: 200px;
    border-radius: 12px;
    overflow: hidden;
    transition: .5s;
}

.container-pai .card:hover .img-box{
    top: -100px;
    scale: .75;
    box-shadow: 0 15px 45px rgba(0,0,0,.2);
}

.container-pai .card .img-box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-pai .card .content{
    position: absolute;
    top: 240px;
    width: 100%;
    height: 45px;
    padding: 0 30px;
    overflow: hidden;
    text-align: center;
    transition: .5s;
}

.container-pai .card:hover .content{
    top: 150px;
    height: 250px;
}

.container-pai .card .content h2{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 3rem;
    color: var(--cor);
}

.container-pai .card .content p{
    color: #333;
}

.container-pai .card .content a{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 50px;
    text-decoration: none;
    font-weight: 500;
    border-radius: 8px;
    background: linear-gradient(90deg, #00acff, #8bffff);
    color: #fff;
    transition: .5s;
}

.container-pai .card .content a:hover{
    background: #040305;
    transition: .5s;
}


/* Estilo contato*/
.contact-info a {
    padding: 20px;
    text-decoration: none; /* Remove o sublinhado */
    color: #333; /* Cor do texto */
    font-size: 1.2em; /* Tamanho da fonte */
    display: flex; /* Para alinhar o ícone e o texto */
    margin: 10px 0; /* Espaço entre os links */
}

.contact-info i {
    margin-right: 10px; /* Espaço entre o ícone e o texto */
    font-size: 1.5em; /* Tamanho do ícone */
}

/* Estilo para os links ao passar o mouse */
.contact-info a:hover {
    color: #fff; /* Cor ao passar o mouse */
}

.nav-link {
    text-decoration: none; /* Remove o sublinhado */
    color: #333; /* Cor do texto */
    font-size: 1.2em; /* Tamanho da fonte */
    display: inline-block; /* Definir como bloco para o link */
    padding: 10px 20px; /* Ajuste de padding */
}

.nav-link:hover {
    color: #fff !important; /* Cor azul ao passar o mouse */

}

.custom-navbar {
    background: linear-gradient(90deg, #00acff, #8bffff, #c4ffff); /* Cor de fundo */
}

/* Escurecer os links */
.custom-navbar .navbar-nav .nav-link {
    color: #333 !important;  /* Cor escura para os links */
}

/* Cor dos links quando passar o mouse */
.custom-navbar .navbar-nav .nav-link:hover {
    color: #fff !important;  /* Cor mais escura ou outra cor para o hover */
}





