{% extends "gsvtech_app/global/index.html" %}

{% load static %}

{% block content %}

<hr class="featurette-divider">

<div class="container" >
    <h2 class="mt-4" style="margin-bottom: 40px;">
        <i class="fas fa-globe logo" style="margin-right: 15px; font-size: 30px;"></i>Entre em contato:</h2>
    <h4 style="margin-bottom: 40px;"><i class="fas fa-rocket logo" style="margin-right: 15px; font-size: 30px;"></i>Impulsione o seu futuro com soluções inovadoras e tecnológicas. 
        Fale conosco e descubra como podemos ajudar a transformar o seu negócio!</h4>

    <hr class="featurette-divider">

    <div class="contact-info">
        <a href="mailto:contato@contato.com.br" class="d-block">
            <i class="far fa-envelope logo"></i> gsv1205@yahoo.com
        </a>
        <a href="http://wa.me/5541997609734?text=Ol%C3%A1%2C%20tenho%20interesse%20em%20saber%20mais%20informa%C3%A7%C3%B5es%20sobre%20investimentos.%20Estou%20ansioso%20para%20aprender." target="_blank" class="d-block">
            <i class="fab fa-whatsapp logo"></i> (41) 9-97609734
        </a>
        <a href="tel:+554132322323" class="d-block">
            <i class="fas fa-phone logo"></i> (xx) xxxx-xxxx
        </a>
    </div>
</div>

<hr class="featurette-divider">

{% endblock content %}