{% extends "gsvtech_app/global/index.html" %}

{% load static %}

{% block content %}

<div class="mt-4 mb-4 p-5">

    <h2 style="text-align: center;">Mais do que uma empresa de desenvolvimento de software</i>
    </h2>
    <hr class="featurette-divider">
    <div class="text-center my-4">
        <img src="{% static "img/capa.jpg" %}" alt="Imagem da empresa" class="img-fluid rounded">
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1 mt-5">
                <i class="fas fa-cogs logo"style="margin-right: 15px; font-size: 60px"></i>Excelência em desenvolvimento de soluções</h2>
            <p class="lead">Na GSV - TECH SOLUTION, buscamos a excelência em cada projeto, combinando inovação e qualidade para criar soluções digitais que impulsionam o sucesso de nossos clientes..</p>
        </div>
        <div class="col-md-5">
            <img src="{% static "img/crescer.jpeg" %}" alt="Imagem da empresa"
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" role="img" focusable="false">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1 mt-5">
                <i class="fas fa-robot logo" style="margin-right: 15px; font-size: 60px"></i>Automatizamos seu processo</h2>
            <p class="lead">Entendemos que cada negócio tem suas particularidades. Por isso, desenvolvemos soluções sob medida para automatizar seus processos e otimizar resultados. 
                Com foco na inovação, criamos softwares personalizados que atendem às necessidades específicas de cada cliente.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="{% static "img/codigo.jpeg" %}" alt="Imagem"
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" role="img" focusable="false">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1 mt-5">
                <i class="fas fa-lightbulb logo" style="margin-right: 15px; font-size: 60px"></i>Transformamos ideias em soluções de impacto</h2>
            <p class="lead">Combinamos estratégia e design com excelência em desenvolvimento de software para criar soluções digitais únicas, ágeis e personalizadas. Nossa abordagem incremental permite entregas rápidas e de alta qualidade, sempre focadas no sucesso do seu negócio. Juntos, vamos transformar sua visão em realidade, com soluções inovadoras e resultados concretos.</p>
        </div>
        <div class="col-md-5">
            <img src="{% static "img/juntos.jpg" %}" alt="Imagem"
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" role="img" focusable="false">
        </div>
    </div>

    <hr class="featurette-divider">
</div>
{% endblock content %}