{% extends "gsvtech_app/global/index.html" %}

{% load static %}

{% block content %}

<div class="mt-4 mb-4 p-5">
 
    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1 mt-5">
                <i class="fas fa-users logo" style="margin-right: 15px; font-size: 60px"></i>Quem somos</span></h2>
            <p class="lead">Somos uma empresa especializada em desenvolvimento de software. 
                Fundada com a missão de inovar e simplificar processos através da tecnologia, a 
                GSV - Tech Solution nasceu com o objetivo de ajudar empresas a se adaptarem e prosperarem em um mercado cada vez mais digital. </p>
        </div>
        <div class="col-md-5">
            <img src="{% static "img/logofinal.png" %}" alt="Imagem"
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" role="img" focusable="false">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1 mt-5">
                <i class="fas fa-bullseye logo" style="margin-right: 15px; font-size: 60px"></i>Nossa missão</span></h2>
            <p class="lead">A missão da GSVTech Solution é fornecer soluções tecnológicas inovadoras e eficazes que não apenas atendem às expectativas de nossos clientes, mas as superam. 
                Buscamos transformar negócios, otimizar operações e resolver problemas complexos, criando softwares robustos, escaláveis e de fácil implementação. 
                Nossa missão é clara: garantir que a tecnologia seja uma aliada no sucesso de nossos parceiros.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="{% static "img/miss.png" %}" alt="Imagem"
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" role="img" focusable="false">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">
                <i class="fas fa-shield-alt logo" style="margin-right: 15px; font-size: 60px"></i>Nossos valores</span></h2>
            <div class="lead">
                <p><strong>Inovação:</strong> Acreditamos que a inovação é a chave para o sucesso em um mercado em constante evolução.</p>
                <p><strong>Qualidade:</strong> A qualidade está no centro de tudo o que fazemos. Desde o desenvolvimento de software até o atendimento ao cliente.</p>
                <p><strong>Compromisso com o Cliente:</strong> Entendemos que o sucesso dos nossos clientes é o nosso sucesso. Trabalhamos em parceria com cada cliente.</p>
                <p><strong>Transparência:</strong> Valorizamos a comunicação clara e aberta. Mantemos nossos clientes informados em cada etapa do processo.</p>
                <p><strong>Agilidade:</strong> Acreditamos na agilidade de processos. Utilizamos metodologias ágeis para entregar soluções rápidas e eficazes, sem comprometer a qualidade.</p>
            </div>
        </div>
        <div class="col-md-5 mt-5">
            <img src="{% static "img/valores.png" %}" alt="Imagem"
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" role="img" focusable="false">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1 mt-5">
                <i class="fas fa-eye logo" style="margin-right: 15px; font-size: 60px"></i>Nossa visão</span></h2>
            <p class="lead">A GSVTech Solution visa se tornar líder no desenvolvimento de soluções tecnológicas inteligentes e personalizadas, ajudando empresas de todos os portes a se adaptarem rapidamente às mudanças e se destacarem no mercado digital. 
                Nossa visão é ser reconhecida não apenas pela qualidade de nossos produtos, mas também pelo impacto positivo que geramos em nossos clientes e no mercado..
            </p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="{% static "img/vision.png" %}" alt="Imagem"
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" role="img" focusable="false">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">
                <i class="fas fa-cogs logo" style="margin-right: 15px; font-size: 60px;"></i>Nossa estratégia</span></h2>
            
            <p class="lead">Na GSVTech Solution, acreditamos na estratégia de desenvolvimento ágil, que nos permite adaptar soluções de acordo com as necessidades de nossos clientes, em tempo real. 
                A cada fase do projeto, garantimos uma entrega incremental, com melhorias contínuas e alinhamento constante com os objetivos de negócios. 
                Nossa abordagem flexível permite a personalização dos nossos produtos, atendendo tanto pequenas quanto grandes empresas..
            </p>
        </div>
        <div class="col-md-5">
            <img src="{% static "img/agilizar.png" %}" alt="Imagem"
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" role="img" focusable="false">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1 mt-5">
                <i class="fas fa-briefcase logo" style="margin-right: 15px; font-size: 60px"></i>Negócios e mercado</span></h2>
            <p class="lead">Atuamos em diversos setores, incluindo finanças, saúde, educação, varejo e logística, criando soluções que otimizam operações e abrem novas possibilidades para os nossos clientes. 
                Seja por meio de aplicações móveis, plataformas web, ou sistemas corporativos, nossa missão é simplificar processos e impulsionar o crescimento de empresas em todos os segmentos.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="{% static "img/negociomercado.png" %}" alt="Imagem"
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" role="img" focusable="false">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1 mt-4">
                <i class="fas fa-handshake logo" style="margin-right: 15px; font-size: 60px"></i>Compromisso com o cliente</span></h2>
            <div class="valores">
                <p class="lead">Nosso compromisso vai além do desenvolvimento. 
                    Buscamos uma parceria duradoura com nossos clientes, proporcionando suporte contínuo, treinamentos e ajustes sempre que necessário. 
                    Estamos ao lado de nossos clientes a cada etapa, desde a concepção da ideia até a entrega final e além, garantindo que cada solução seja realmente eficaz e contribua para o sucesso do negócio.</p>
               
            </div>
        </div>
        <div class="col-md-5">
            <img src="{% static "img/apertomao.png" %}" alt="Imagem"
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" role="img" focusable="false">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1 mt-4">
                <i class="fas fa-gift logo" style="margin-right: 15px; font-size: 60px"></i>Entrega de valor</span></h2>
            <p class="lead">A entrega de valor é a nossa prioridade. 
                Em cada projeto, trabalhamos com a visão de que cada linha de código deve contribuir diretamente para o crescimento e sucesso do cliente. 
                Não entregamos apenas software, entregamos soluções que geram resultados reais, que promovem eficiência, redução de custos e expansão de oportunidades. 
                Nosso objetivo é ser mais do que um fornecedor: ser um verdadeiro parceiro no sucesso dos nossos clientes.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="{% static "img/valorcliente.png" %}" alt="Imagem"
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" role="img" focusable="false">
        </div>
    </div>

    <hr class="featurette-divider">

</div>

{% endblock content %}